<body>

<h1>Hello <%= current_user.first_name %>!</h1>

  <%= form_with model: @post do |post_form| %>
    <%= post_form.label :title %>
    <%= post_form.text_field :title, size: "50x1" %><br><br>
    <%= post_form.label :body %>
    <%= post_form.text_area :body, size: "50x3" %><br><br>
    <%= post_form.submit %>
  <% end %>

<br><br>

<h2>Posts</h2>

<div id="posts">
<% for post in @posts %>
        <div class="post">
          <p>
            <strong><%= link_to post.title, post_path(post.id) %></strong>
            <div class="clear"></div>
          </p>
          <p>
            <%=h post.body %>
            <div class="clear"></div>
          </p>
          <div>
            <strong>Likes:</strong> <%= post.likes.count %>
          </div>
        </div>
<% end %>
</div>

</body>