<h1>Hello <%= current_user.first_name %>!</h1>

  <%= form_with model: @post, local:true do |post_form| %>

    <%= post_form.label :title %>
    <%= post_form.text_field :title %><br><br>
    <%= post_form.label :body %>
    <%= post_form.text_field :body %><br><br>
    <%= submit_tag("Submit") %>
  <% end %>
</body>

<br><br>

<h1>Posts</h1>

<div id="posts">
<% for post in @posts %>
        <div class="post">
          <p>
            <strong><%=h post.title %></strong>
            <div class="clear"></div>
          </p>
            <p>
            <%=h post.body %>
            <div class="clear"></div>
          </p>
        </div>
<% end %>
</div>