<h1>My Profile</h1>

<p>
<div>Username: <%= current_user.user_name %></div>
<div>First Name: <%= current_user.first_name %></div>
<div>Last Name: <%= current_user.last_name %></div>
</p>

<% if @user.avatar.attached? %>
<img src="<%=(url_for(@user.avatar)) %>" alt="Test" style="width:150px;height:201px;">
<% else %>
  <div>
    <%= form_with url: @user, method: :patch do |form| %>
      <%= form.file_field :avatar %><br><br>
      <%= form.submit "Upload Photo" %> 
    <% end %>
  </div>
<% end %>



<h2>Posts</h2>

<div id="posts">
<% for post in @posts %>
        <div class="post">
                  <div><%=post.user.first_name%></div>
          <p>
            <strong><%= link_to post.title, post_path(post.id) %></strong>
            <div class="clear"></div>
          </p>
          <p>
            <%=h post.body %>
            <div class="clear"></div>
          </p>
          <div>
            <strong>Likes:</strong> <%= post.likes.count %>
          </div>
        </div>
<% end %>
</div>

</body>