<h1>My Profile</h1>

<p>
<div>Username: <%= current_user.user_name %></div>
<div>First Name: <%= current_user.first_name %></div>
<div>Last Name: <%= current_user.last_name %></div>
</p>

<% if @user.avatar.attached? %>
<img src="<%=(url_for(@user.avatar)) %>" alt="Test" style="width:150px;height:201px;">
<% else %>
  <div>
    <%= form_with url: @user, method: :patch do |form| %>
      <%= form.file_field :avatar %><br><br>
      <%= form.submit "Upload Photo" %> 
    <% end %>
  </div>
<% end %>



<h2>Friends</h2>
<ul>
   <% for friendship in current_user.friendships %>
     <li>
       <%=h friendship.friend.first_name %>
       (<%= link_to "Unfriend", friendship, :method => "delete" %>)
     </li>
    <% end %>

    <% for inverse_friendship in current_user.inverse_friendships %>
    <li>
    <%=h inverse_friendship.user.first_name %>
    (<%= link_to "Unfriend", inverse_friendship_path(inverse_friendship), method: 'delete' %>)
    </li>
  <% end %>
</ul>

<h2>Friend Requests</h2>
<ul>
  <% for request in @requests %>
    <li><%=h User.find(request.friend_id).first_name %>
      (<%= link_to "Cancel Request", request_path(id: request.id), :method => :delete %>)
      </li>
  <% end %>

    <% for inverse_request in @inverse_requests %>
    <li><%=h User.find(inverse_request.user_id).first_name %>
      (<%= link_to "Approve Request", friendships_path(:friend_id => User.find(inverse_request.user_id).id, :request_id => inverse_request.id), :method => :post %>)
      </li>
  <% end %>

</ul>

<p><%= link_to "Find Friends", users_path %></p>