<h1><%= @user.first_name %>'s Profile</h1>

<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
<% end %>

<p>
<div>Username: <%= @user.user_name %></div>
<div>First Name: <%= @user.first_name %></div>
<div>Last Name: <%= @user.last_name %></div>
</p>

<% if @user.avatar.attached? %>
<img src="<%=(url_for(@user.avatar)) %>" alt="Test" style="width:150px;height:201px;">
<% end %>



<h2>Posts</h2>

<div id="posts">
<% for post in @posts %>
        <div class="post">
                  <div><%=post.user.first_name%></div>
          <p>
            <strong><%= link_to post.title, post_path(post.id) %></strong>
            <div class="clear"></div>
          </p>
          <p>
            <%=h post.body %>
            <div class="clear"></div>
          </p>
          <div>
            <strong>Likes:</strong> <%= post.likes.count %><br>
            <strong>Comments:</strong> <%= post.comments.count %>
          </div>
        </div>
<% end %>
</div>

</body>