<h1>Hello <%= current_user.first_name %>!</h1><br>

<body>
<%
=begin%>
 <h1>Posts</h1>

<div id="posts">
<% for post in @posts %>
        <div class="post">
          <p>
            <strong><%= link_to post.title, post_path(post.id) %></strong>
            <div class="clear"></div>
          </p>
          <p>
            <%=h post.body %>
            <div class="clear"></div>
          </p>
          <div>
            <strong>Likes:</strong> <%= post.likes.count %>
          </div>
        </div>
<% end %>
</div> 
<%
=end%>


<h1>Timeline</h1>

<div id="posts">
<% for post in @posts %>
        <div class="post">
          <p>
            <strong><%= link_to post.title, post_path(post.id) %></strong>
            <div class="clear"></div>
          </p>
          <p>
            <%=h post.body %>
            <div class="clear"></div>
          </p>
          <div>
            <strong>Likes:</strong> <%= post.likes.count %>
          </div>
        </div>
<% end %>
</div>
</body>